<section>
  <div class="wrapperDiv">
    <div class="firstColumn">
      <div class="logoDiv">
        <h2>myVMS</h2>
      </div>
      <p>Streamline your estate's visitor experience with our innovative VMS</p>
      <div class="contactWrapperDiv">
        <div class="contactTab">
          <img src="../../assets/telephone.png" class="contactIcon" alt="" />
          <a class="phoneLink" href="tel:+2349057738889">
            <p>+234 9057738889</p>
          </a>
        </div>
        <div class="contactTab">
          <img src="../../assets/email.png" class="contactIcon" alt="" />
          <a class="emailLink" href="mailto:sydaniGroup@gmail.com"
            >johndoe&#64;gmail.com</a
          >
        </div>

        <div class="contactTab">
          <img src="../../assets/home.png" class="contactIcon" alt="" />
          <a
            class="addressLink"
            href="https://www.google.com/maps/place/Plot+1422+Independence+Av,+Central+Business+District,+Abuja,+Nigeria"
            target="_blank"
          >
            <p>
              Plot 0000 Independence Avenue, Jabi District, Abuja,
              Nigeria.
            </p>
          </a>
        </div>
      </div>
    </div>
    <div class="firstColumn">
      <div class="logoDiv">
        <h2>LINKS</h2>
      </div>
      <p>Streamline your estate's visitor experience with our innovative VMS</p>
      <div class="contactWrapperDiv">
        <div class="contactTab" (click)="scrollToSection('home')">
          <img
            src="../../assets/right-chevron.png"
            class="contactIcon"
            alt=""
          />
          <p>Home Page</p>
        </div>
        <div class="contactTab" (click)="scrollToSection('features')">
          <img
            src="../../assets/right-chevron.png"
            class="contactIcon"
            alt=""
          />
          <p>Features</p>
        </div>
        <div class="contactTab" (click)="scrollToSection('aboutus')">
          <img
            src="../../assets/right-chevron.png"
            class="contactIcon"
            alt=""
          />
          <p>About us</p>
        </div>
        <div class="contactTab" (click)="scrollToSection('projects')">
          <img
            src="../../assets/right-chevron.png"
            class="contactIcon"
            alt=""
          />

          <p>Achievement Board</p>
        </div>
        <div class="contactTab" (click)="scrollToSection('services')">
          <img
            src="../../assets/right-chevron.png"
            class="contactIcon"
            alt=""
          />

          <p>Services</p>
        </div>
        <div class="contactTab" (click)="scrollToSection('faq')">
          <img
            src="../../assets/right-chevron.png"
            class="contactIcon"
            alt=""
          />

          <p>FAQs</p>
        </div>
        <div class="contactTab" (click)="scrollToSection('pricingplan')">
          <img
            src="../../assets/right-chevron.png"
            class="contactIcon"
            alt=""
          />

          <p>Pricing Plan</p>
        </div>
        <div class="contactTab" (click)="scrollToSection('theteam')">
          <img
            src="../../assets/right-chevron.png"
            class="contactIcon"
            alt=""
          />

          <p>Meet the team</p>
        </div>
        <div class="contactTab">
          <img
            src="../../assets/right-chevron.png"
            class="contactIcon"
            alt=""
          />

          <p>Footer</p>
        </div>
      </div>
    </div>
    <div class="firstColumn">
      <div class="logoDiv">
        <h2>Social Networks</h2>
      </div>

      <div class="contactWrapperDiv">
        <div class="contactTab">
          <a
            href="https://www.linkedin.com/company/sydani-group/"
            target="_blank"
          >
            <img src="../../assets/linkedin.png" class="contactIcon" alt=""
          /></a>
          <a href="https://twitter.com/@SydaniGroup" target="_blank">
            <img src="../../assets/twitter.png" class="contactIcon" alt=""
          /></a>

          <a href="https://www.instagram.com/sydanigroup" target="_blank">
            <img
              src="../../assets/instagram (1).png"
              class="contactIcon"
              alt=""
            />
          </a>

          <a href="https://www.youtube.com/@sydanigroup" target="_blank">
            <img src="../../assets/youtube.png" class="contactIcon" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
