section {
  background-color: #10253f;
  padding: 2rem;
  color: #ffffff;
  margin: 0 auto;

  .wrapperDiv {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;

    .firstColumn {
      width: 35%;
      .contactTab {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
        transition: 0.5ms all ease-in-out;

        .contactIcon {
          width: 1.5rem;
          height: 1.5rem;
        }

        .emailLink,
        .phoneLink,
        .addressLink {
          color: #ffffff;
        }

        .phoneLink,
        .addressLink {
          text-decoration: none;
        }
      }

      .contactTab :hover {
        color: #e46c0a;
      }
    }

    .firstColumn:nth-child(2) {
      .contactWrapperDiv {
        margin-top: 1rem;
        p {
          margin: 0;
          // margin-bottom: 0.7rem;
        }

        .contactTab {
          align-items: center;
          margin-bottom: 0.5rem;
          .contactIcon {
            width: 0.8rem;
            height: 0.8rem;
          }
        }
      }
    }

    .firstColumn:nth-child(3) {
      width: max-content;
    }
  }

  @media (max-width: 880px) {
    .wrapperDiv {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 530px) {
    .wrapperDiv {
      flex-direction: column;

      .firstColumn {
        p {
          width: 16rem;
        }

        .contactTab {
          .phoneLink {
            width: 8rem;
          }
        }
      }
    }
  }

  @media (max-width: 360px) {
    .wrapperDiv .firstColumn:nth-child(2) {
      .contactTab {
        width: 8rem;
      }
    }
  }
}

@media (max-width: 310px) {
  section {
    padding-left: 1rem;
  }
}
