<section id="projects">
  <div class="imageBox">
    <img loading="lazy" src="../../assets/ratings.jpg" alt="" />
  </div>
  <div class="overallContainer">
    <div class="smallDiv">
      <img loading="lazy" src="../../assets/completedProjects.png" alt="" />
      <article>
        <h1>500</h1>
        <span>+</span>
      </article>
      <h3>Completed Projects</h3>
    </div>
    <div class="smallDiv">
      <img
        loading="lazy"
        src="../../assets/speech-bubble-svgrepo-com.svg"
        alt=""
      />
      <article>
        <h1>6500</h1>
        <span>+</span>
      </article>

      <h3>Satisfied Comments</h3>
    </div>
    <div class="smallDiv">
      <img loading="lazy" src="../../assets/people-svgrepo-com.svg" alt="" />
      <article>
        <h1>20</h1>
        <span>+</span>
      </article>
      <h3>Dedictated Team</h3>
    </div>
  </div>
</section>
