<section id="home">
  <div class="headerImageDiv">
    <img
      loading="lazy"
      src="../../assets/sydaniBlueHeroImage.png"
      alt=""
      class="laptopImage"
    />
    <img
      loading="lazy"
      src="../../assets/mobileImage.png"
      alt=""
      class="tabMobileImage"
    />
  </div>

  <article class="heroPageArticle">
    <h1>Secure, Efficient, and Convenient Visitor Management</h1>
  </article>
  <p class="heroPageP">
    Streamline your estate's visitor experience with our innovative VMS
  </p>

  <div class="buttonDiv">
    <button>
      Get Started

      <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5 12H19M19 12L13 6M19 12L13 18"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></path>
      </svg>
    </button>
  </div>
</section>
