<div id="theteam" class="overallDiv">
  <section class="textSection">
    <h4 class="mainH4">Team</h4>
    <div class="featuresSection">
      <article>
        <h2><strong> Our team of specialists is ready to help</strong></h2>
        <p>
          Our team of specialists is ready to help. With years of experience and
          industry knowledge,
          <br />
          we provide tailored solutions. Your satisfaction is our top priority.
        </p>
      </article>
    </div>
  </section>

  <section class="carouselSection">
    <div class="carousel-container">
      <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let image of getVisibleImages()">
          <div class="imgWrapper">
            <img loading="lazy" [src]="image.source" alt="Image" />
          </div>
          <div class="carousel-caption-wrapper">
            <div class="carousel-caption">
              <h4>
                <strong>{{ image.name }}</strong>
              </h4>
              <P>{{ image.title }}</P>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-controls">
        <span (click)="prevSlide()">
          <svg
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="indicatorSvg"
          >
            <rect width="24" height="24" fill="transparent" />
            <path
              d="M14.5 17L9.5 12L14.5 7"
              stroke="#ffffff"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <span (click)="nextSlide()">
          <svg
            width="800px"
            height="800px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="indicatorSvg"
          >
            <rect width="24" height="24" fill="transparent" />
            <path
              d="M9.5 7L14.5 12L9.5 17"
              stroke="#ffffff"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </div>
      <div class="carousel-indicators">
        <span
          *ngFor="let image of images; let i = index"
          class="indicator"
          (click)="gotoSlide(i)"
          [class.active]="i === currentIndex"
        ></span>
      </div>
    </div>
  </section>

  <div class="mobileCarouselContainer">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let image of getMobileImages()">
        <div class="imgWrapper">
          <img loading="lazy" [src]="image.source" alt="Image" />
        </div>
        <div class="carousel-caption-wrapper">
          <div class="carousel-caption">
            <h4>
              <strong>{{ image.name }}</strong>
            </h4>
            <P>{{ image.title }}</P>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
