<section id="services">
  <h4 class="mainH4" id="mainH4">Services</h4>
  <div class="featuresSection">
    <article>
      <h2 class="innovatingH2">
        <strong> Innovating Tomorrow, Today</strong>
      </h2>
      <p class="techP">
        Sydani Tech is redefining the status quo. <br />
        by delivering groundbreaking solutions that bring the future to life.
      </p>
    </article>
  </div>

  <div class="servicesContainer">
    <div class="bigImage">
      <img
        loading="lazy"
        src="../../assets/one_look_at_it_says_technology-removebg-preview.png"
        alt=""
      />
    </div>
    <div class="umbrellaContainer">
      <div class="singleContainer">
        <img loading="lazy" src="../../assets/code.png" alt="" />
        <h2><strong>Software Development</strong></h2>
        <p>
          Custom software solutions crafted with cutting-edge technology. Expert
          development for web, mobile, and enterprise applications.
        </p>
      </div>
      <div class="singleContainer">
        <img loading="lazy" src="../../assets/cyber-attack.png" alt="" />
        <h2><strong>Cybersecurity Solutions</strong></h2>

        <p>
          Safeguard your business with confidence. Our cybersecurity solutions
          identify and mitigate risks, ensuring the integrity and security of
          your operations.
        </p>
      </div>
      <div class="singleContainer">
        <img loading="lazy" src="../../assets/project-plan.png" alt="" />
        <h2><strong> ERP Solutions </strong></h2>

        <p>
          Transform your business efficiency with our ERP solutions. Streamline
          processes, enhance collaboration, and make data-driven decisions with
          a unified platform.
        </p>
      </div>
    </div>
  </div>
</section>
